In [12]:
import pandas as pd

from sklearn.model_selection import train_test_split

df = pd.read_csv('C:/Users/ugoch/Documents/Ironhack_Bootcamp//final_Project_bank_credit_scoring.csv')

df.head()

,Задолженность,"Просрочка, дни",Первоначльный лимит,BIRTHDATE,SEX,EDU,INCOME,TERM,Рейтинг кредитной истории,LV_AREA,LV_SETTLEMENTNAME,INDUSTRYNAME,PDN,CLIENTID,SCORINGMARK,UNDERAGECHILDRENCOUNT,VELCOMSCORING,FAMILYSTATUS
0,6063.50,3,7000.0,1983-07-08,Мужской,Среднее специальное,703.07,60,A1,Гомельская область,КОСАКОВКА,АПК,0.98,919517,233.0,0,NaN,1
1,3765.04,0,5000.0,1987-12-19,Женский,Высшее,1693.68,60,B2,NaN,МИНСК,Финансы и страхование,0.17,539353,NaN,1,NaN,1
2,2067.66,0,2650.0,1966-02-28,Женский,Среднее,724.49,60,C2,ГРОДНЕНСКАЯ,ЁДКИ,Медицина и здравоохранение,0.40,818913,NaN,0,NaN,2
3,2370.39,0,3000.0,1972-02-18,Женский,Среднее специальное,1045.84,60,A3,МИНСКАЯ,ФАНИПОЛЬ,Государственное управление,0.29,691598,216.0,0,NaN,2
4,2280.55,0,3000.0,1997-02-23,Женский,Высшее,1092.65,60,B3,NaN,Минск,Медицина и здравоохранение,0.63,425193,NaN,0,NaN,2

In [17]:
# Overview of each
df.info()
df_cleaned = df.dropna()
df = df.drop_duplicates()

# Missing values check
print(df.isnull().sum())
print(df_cleaned)
print(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18420 entries, 0 to 18419
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Задолженность              18420 non-null  float64
 1   Просрочка, дни             18420 non-null  int64
 2   Первоначльный лимит        18420 non-null  float64
 3   BIRTHDATE                  18420 non-null  object
 4   SEX                        18420 non-null  object
 5   EDU                        18420 non-null  object
 6   INCOME                     18420 non-null  float64
 7   TERM                       18420 non-null  int64
 8   Рейтинг кредитной истории  17488 non-null  object
 9   LV_AREA                    16297 non-null  object
 10  LV_SETTLEMENTNAME          18374 non-null  object
 11  INDUSTRYNAME               18420 non-null  object
 12  PDN                        18420 non-null  float64
 13  CLIENTID                   18420 non-null  int64
 14  SCORINGMARK                16786 non-null  float64
 15  UNDERAGECHILDRENCOUNT      18420 non-null  int64
 16  VELCOMSCORING              8889 non-null   float64
 17  FAMILYSTATUS               18420 non-null  int64
dtypes: float64(6), int64(5), object(7)
memory usage: 2.5+ MB
Задолженность                   0
Просрочка, дни                  0
Первоначльный лимит             0
BIRTHDATE                       0
SEX                             0
EDU                             0
INCOME                          0
TERM                            0
Рейтинг кредитной истории     932
LV_AREA                      2123
LV_SETTLEMENTNAME              46
INDUSTRYNAME                    0
PDN                             0
CLIENTID                        0
SCORINGMARK                  1634
UNDERAGECHILDRENCOUNT           0
VELCOMSCORING                9529
FAMILYSTATUS                    0
dtype: int64
       Задолженность  Просрочка, дни  Первоначльный лимит   BIRTHDATE  \
8536         2675.67               0               3000.0  1981-03-29
8546        13645.70               0              15300.0  1962-08-08
8601         6599.32               0               7500.0  2002-07-31
8611         1783.72               0               2000.0  1992-10-30
8626          891.86               0               1000.0  1996-11-11
...              ...             ...                  ...         ...
18414           0.00               0               1000.0  1996-09-21
18415           0.00               0              10850.0  1999-11-08
18417           0.00               0               3500.0  2002-11-05
18418           0.00               0              10000.0  2003-09-15
18419           0.00               0               1500.0  1994-01-14

           SEX                  EDU   INCOME  TERM Рейтинг кредитной истории  \
8536   Мужской              Среднее  3287.82    60                        E1
8546   Мужской              Среднее  2511.03    60                        D2
8601   Мужской  Среднее специальное  2331.26    60                        B3
8611   Мужской  Среднее специальное  1047.89    60                        D3
8626   Мужской              Среднее   992.44    60                        C3
...        ...                  ...      ...   ...                       ...
18414  Мужской               Высшее  2320.43    24                        D1
18415  Мужской               Высшее  3563.75    60                        B1
18417  Мужской  Среднее специальное  3363.05    24                        C2
18418  Мужской              Среднее  1670.13    60                        C1
18419  Мужской               Высшее  3517.90    60                        C1

                 LV_AREA LV_SETTLEMENTNAME               INDUSTRYNAME   PDN  \
8536     Минская область           БОРИСОВ               Производство  0.37
8546            г. Минск             МИНСК               Производство  0.40
8601           БРЕСТСКАЯ             БРЕСТ              Строительство  0.09
8611   Витебская область            ЛЕПЕЛЬ        Транспорт/перевозки  0.24
8626   ВИТЕБСКАЯ ОБЛАСТЬ              ОРША                   Торговля  0.30
...                  ...               ...                        ...   ...
18414           г. Минск             МИНСК                 МВД/МЧС/МО  0.22
18415           г. Минск             МИНСК  Информационные технологии  0.40
18417    Минская область         Солигорск              Строительство  0.19
18418           г. Минск             МИНСК                   Торговля  0.28
18419  Брестская область            КОБРИН                 МВД/МЧС/МО  0.26

       CLIENTID  SCORINGMARK  UNDERAGECHILDRENCOUNT  VELCOMSCORING  \
8536     829512        139.0                      1           -2.0
8546     966214        109.0                      0           -2.0
8601     519007        200.0                      1           -2.0
8611     966600         80.0                      2           -2.0
8626     949504        147.0                      0           -2.0
...         ...          ...                    ...            ...
18414    952708        116.0                      2           -2.0
18415    687867        344.0                      0           -2.0
18417   1060373        129.0                      0           -2.0
18418   1056128        179.0                      0           -2.0
18419   1061453        269.0                      0           -2.0

       FAMILYSTATUS
8536              1
8546              1
8601              1
8611              1
8626              2
...             ...
18414             1
18415             1
18417             2
18418             2
18419             2

[7786 rows x 18 columns]
       Задолженность  Просрочка, дни  Первоначльный лимит   BIRTHDATE  \
0            6063.50               3               7000.0  1983-07-08
1            3765.04               0               5000.0  1987-12-19
2            2067.66               0               2650.0  1966-02-28
3            2370.39               0               3000.0  1972-02-18
4            2280.55               0               3000.0  1997-02-23
...              ...             ...                  ...         ...
18415           0.00               0              10850.0  1999-11-08
18416           0.00               0              13000.0  1993-06-03
18417           0.00               0               3500.0  2002-11-05
18418           0.00               0              10000.0  2003-09-15
18419           0.00               0               1500.0  1994-01-14

           SEX                  EDU   INCOME  TERM Рейтинг кредитной истории  \
0      Мужской  Среднее специальное   703.07    60                        A1
1      Женский               Высшее  1693.68    60                        B2
2      Женский              Среднее   724.49    60                        C2
3      Женский  Среднее специальное  1045.84    60                        A3
4      Женский               Высшее  1092.65    60                        B3
...        ...                  ...      ...   ...                       ...
18415  Мужской               Высшее  3563.75    60                        B1
18416  Мужской  Среднее специальное  2865.72    36                       NaN
18417  Мужской  Среднее специальное  3363.05    24                        C2
18418  Мужской              Среднее  1670.13    60                        C1
18419  Мужской               Высшее  3517.90    60                        C1

                  LV_AREA LV_SETTLEMENTNAME                INDUSTRYNAME   PDN  \
0      Гомельская область         КОСАКОВКА                         АПК  0.98
1                     NaN             МИНСК       Финансы и страхование  0.17
2             ГРОДНЕНСКАЯ              ЁДКИ  Медицина и здравоохранение  0.40
3                 МИНСКАЯ          ФАНИПОЛЬ  Государственное управление  0.29
4                     NaN             Минск  Медицина и здравоохранение  0.63
...                   ...               ...                         ...   ...
18415            г. Минск             МИНСК   Информационные технологии  0.40
18416     Минская область              Жалы               Строительство  0.19
18417     Минская область         Солигорск               Строительство  0.19
18418            г. Минск             МИНСК                    Торговля  0.28
18419   Брестская область            КОБРИН                  МВД/МЧС/МО  0.26

       CLIENTID  SCORINGMARK  UNDERAGECHILDRENCOUNT  VELCOMSCORING  \
0        919517        233.0                      0            NaN
1        539353          NaN                      1            NaN
2        818913          NaN                      0            NaN
3        691598        216.0                      0            NaN
4        425193          NaN                      0            NaN
...         ...          ...                    ...            ...
18415    687867        344.0                      0           -2.0
18416    984627        108.0                      2           -2.0
18417   1060373        129.0                      0           -2.0
18418   1056128        179.0                      0           -2.0
18419   1061453        269.0                      0           -2.0

       FAMILYSTATUS
0                 1
1                 1
2                 2
3                 2
4                 2
...             ...
18415             1
18416             1
18417             2
18418             2
18419             2

[18418 rows x 18 columns]