In [41]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [42]:

df = pd.read_csv('../data/raw/final_Project_bank_credit_scoring.csv')

df.head()

,Задолженность,"Просрочка, дни",Первоначльный лимит,BIRTHDATE,SEX,EDU,INCOME,TERM,Рейтинг кредитной истории,LV_AREA,LV_SETTLEMENTNAME,INDUSTRYNAME,PDN,CLIENTID,SCORINGMARK,UNDERAGECHILDRENCOUNT,VELCOMSCORING,FAMILYSTATUS
0,6063.50,3,7000.0,1983-07-08,Мужской,Среднее специальное,703.07,60,A1,Гомельская область,КОСАКОВКА,АПК,0.98,919517,233.0,0,NaN,1
1,3765.04,0,5000.0,1987-12-19,Женский,Высшее,1693.68,60,B2,NaN,МИНСК,Финансы и страхование,0.17,539353,NaN,1,NaN,1
2,2067.66,0,2650.0,1966-02-28,Женский,Среднее,724.49,60,C2,ГРОДНЕНСКАЯ,ЁДКИ,Медицина и здравоохранение,0.40,818913,NaN,0,NaN,2
3,2370.39,0,3000.0,1972-02-18,Женский,Среднее специальное,1045.84,60,A3,МИНСКАЯ,ФАНИПОЛЬ,Государственное управление,0.29,691598,216.0,0,NaN,2
4,2280.55,0,3000.0,1997-02-23,Женский,Высшее,1092.65,60,B3,NaN,Минск,Медицина и здравоохранение,0.63,425193,NaN,0,NaN,2

In [43]:
# Overview of each
df.info()

# Missing values check
# print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18420 entries, 0 to 18419
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Задолженность              18420 non-null  float64
 1   Просрочка, дни             18420 non-null  int64
 2   Первоначльный лимит        18420 non-null  float64
 3   BIRTHDATE                  18420 non-null  object
 4   SEX                        18420 non-null  object
 5   EDU                        18420 non-null  object
 6   INCOME                     18420 non-null  float64
 7   TERM                       18420 non-null  int64
 8   Рейтинг кредитной истории  17488 non-null  object
 9   LV_AREA                    16297 non-null  object
 10  LV_SETTLEMENTNAME          18374 non-null  object
 11  INDUSTRYNAME               18420 non-null  object
 12  PDN                        18420 non-null  float64
 13  CLIENTID                   18420 non-null  int64
 14  SCORINGMARK                16786 non-null  float64
 15  UNDERAGECHILDRENCOUNT      18420 non-null  int64
 16  VELCOMSCORING              8889 non-null   float64
 17  FAMILYSTATUS               18420 non-null  int64
dtypes: float64(6), int64(5), object(7)
memory usage: 2.5+ MB

In [44]:
df.dtypes

Задолженность                float64
Просрочка, дни                 int64
Первоначльный лимит          float64
BIRTHDATE                     object
SEX                           object
EDU                           object
INCOME                       float64
TERM                           int64
Рейтинг кредитной истории     object
LV_AREA                       object
LV_SETTLEMENTNAME             object
INDUSTRYNAME                  object
PDN                          float64
CLIENTID                       int64
SCORINGMARK                  float64
UNDERAGECHILDRENCOUNT          int64
VELCOMSCORING                float64
FAMILYSTATUS                   int64
dtype: object

In [45]:
df.describe()

,Задолженность,"Просрочка, дни",Первоначльный лимит,INCOME,TERM,PDN,CLIENTID,SCORINGMARK,UNDERAGECHILDRENCOUNT,VELCOMSCORING,FAMILYSTATUS
count,18420.000000,18420.000000,18420.000000,18420.000000,18420.000000,18420.000000,1.842000e+04,16786.000000,18420.000000,8889.000000,18420.000000
mean,4318.769750,9.196743,5127.834256,1664.840782,52.301737,0.290288,8.226245e+05,186.432622,0.636754,177.040162,1.498751
std,4336.432353,42.309092,4879.201691,1048.813447,13.378788,0.144359,1.966853e+05,67.430848,0.854167,310.624940,0.500988
min,0.000000,0.000000,180.000000,0.000000,23.000000,0.000000,1.289800e+04,-108.000000,0.000000,-2.000000,1.000000
25%,1287.900000,0.000000,1550.000000,1021.692500,36.000000,0.190000,7.193478e+05,134.000000,0.000000,-2.000000,1.000000
50%,2675.670000,0.000000,3200.000000,1460.175000,60.000000,0.300000,9.083645e+05,182.000000,0.000000,-2.000000,1.000000
75%,5785.870000,0.000000,6912.500000,1980.460000,60.000000,0.390000,9.621360e+05,234.000000,1.000000,278.000000,2.000000
max,40000.000000,491.000000,40000.000000,29942.820000,60.000000,1.210000,1.061453e+06,416.000000,3.000000,998.000000,4.000000

In [46]:
df.dropna()
df.head(10)

,Задолженность,"Просрочка, дни",Первоначльный лимит,BIRTHDATE,SEX,EDU,INCOME,TERM,Рейтинг кредитной истории,LV_AREA,LV_SETTLEMENTNAME,INDUSTRYNAME,PDN,CLIENTID,SCORINGMARK,UNDERAGECHILDRENCOUNT,VELCOMSCORING,FAMILYSTATUS
0,6063.50,3,7000.0,1983-07-08,Мужской,Среднее специальное,703.07,60,A1,Гомельская область,КОСАКОВКА,АПК,0.98,919517,233.0,0,NaN,1
1,3765.04,0,5000.0,1987-12-19,Женский,Высшее,1693.68,60,B2,NaN,МИНСК,Финансы и страхование,0.17,539353,NaN,1,NaN,1
2,2067.66,0,2650.0,1966-02-28,Женский,Среднее,724.49,60,C2,ГРОДНЕНСКАЯ,ЁДКИ,Медицина и здравоохранение,0.40,818913,NaN,0,NaN,2
3,2370.39,0,3000.0,1972-02-18,Женский,Среднее специальное,1045.84,60,A3,МИНСКАЯ,ФАНИПОЛЬ,Государственное управление,0.29,691598,216.0,0,NaN,2
4,2280.55,0,3000.0,1997-02-23,Женский,Высшее,1092.65,60,B3,NaN,Минск,Медицина и здравоохранение,0.63,425193,NaN,0,NaN,2
5,839.91,0,1000.0,1988-02-08,Мужской,Высшее,3341.23,60,C1,БРЕСТСКАЯ,БРЕСТ,Производство,0.10,476562,246.0,0,NaN,2
6,1065.19,0,2000.0,1990-05-17,Женский,Высшее,983.60,24,C2,г. Минск,МИНСК,Услуги населению,0.25,914643,74.0,1,NaN,2
7,2675.67,62,3000.0,1999-08-13,Женский,Среднее специальное,1076.35,60,D1,ГОМЕЛЬСКАЯ,ГОМЕЛЬ,Производство,0.16,918315,85.0,0,NaN,2
8,2496.93,0,3500.0,1982-01-11,Мужской,Среднее специальное,1195.75,36,NaN,Минская область,РОМАНОВЩИНА,АПК,0.12,922922,166.0,3,NaN,1
9,5024.11,0,5800.0,1973-04-13,Мужской,Среднее специальное,3260.93,60,D2,г. Минск,Минск,Производство,0.40,926420,136.0,3,NaN,1

In [47]:
df.isnull().sum
df.head()

,Задолженность,"Просрочка, дни",Первоначльный лимит,BIRTHDATE,SEX,EDU,INCOME,TERM,Рейтинг кредитной истории,LV_AREA,LV_SETTLEMENTNAME,INDUSTRYNAME,PDN,CLIENTID,SCORINGMARK,UNDERAGECHILDRENCOUNT,VELCOMSCORING,FAMILYSTATUS
0,6063.50,3,7000.0,1983-07-08,Мужской,Среднее специальное,703.07,60,A1,Гомельская область,КОСАКОВКА,АПК,0.98,919517,233.0,0,NaN,1
1,3765.04,0,5000.0,1987-12-19,Женский,Высшее,1693.68,60,B2,NaN,МИНСК,Финансы и страхование,0.17,539353,NaN,1,NaN,1
2,2067.66,0,2650.0,1966-02-28,Женский,Среднее,724.49,60,C2,ГРОДНЕНСКАЯ,ЁДКИ,Медицина и здравоохранение,0.40,818913,NaN,0,NaN,2
3,2370.39,0,3000.0,1972-02-18,Женский,Среднее специальное,1045.84,60,A3,МИНСКАЯ,ФАНИПОЛЬ,Государственное управление,0.29,691598,216.0,0,NaN,2
4,2280.55,0,3000.0,1997-02-23,Женский,Высшее,1092.65,60,B3,NaN,Минск,Медицина и здравоохранение,0.63,425193,NaN,0,NaN,2

In [48]:
df['VELCOMSCORING'] = df['VELCOMSCORING'].fillna(0) 
df['SCORINGMARK'] = df['SCORINGMARK'].fillna(0) 
df['LV_AREA'] = df['LV_AREA'].fillna("N/A") 
df.head()

,Задолженность,"Просрочка, дни",Первоначльный лимит,BIRTHDATE,SEX,EDU,INCOME,TERM,Рейтинг кредитной истории,LV_AREA,LV_SETTLEMENTNAME,INDUSTRYNAME,PDN,CLIENTID,SCORINGMARK,UNDERAGECHILDRENCOUNT,VELCOMSCORING,FAMILYSTATUS
0,6063.50,3,7000.0,1983-07-08,Мужской,Среднее специальное,703.07,60,A1,Гомельская область,КОСАКОВКА,АПК,0.98,919517,233.0,0,0.0,1
1,3765.04,0,5000.0,1987-12-19,Женский,Высшее,1693.68,60,B2,N/A,МИНСК,Финансы и страхование,0.17,539353,0.0,1,0.0,1
2,2067.66,0,2650.0,1966-02-28,Женский,Среднее,724.49,60,C2,ГРОДНЕНСКАЯ,ЁДКИ,Медицина и здравоохранение,0.40,818913,0.0,0,0.0,2
3,2370.39,0,3000.0,1972-02-18,Женский,Среднее специальное,1045.84,60,A3,МИНСКАЯ,ФАНИПОЛЬ,Государственное управление,0.29,691598,216.0,0,0.0,2
4,2280.55,0,3000.0,1997-02-23,Женский,Высшее,1092.65,60,B3,N/A,Минск,Медицина и здравоохранение,0.63,425193,0.0,0,0.0,2

In [49]:
df.rename(columns={'Задолженность': 'Debt'}, inplace=True)
df.rename(columns={'Просрочка, дни': 'Overdue Days '}, inplace=True)
df.rename(columns={'Первоначльный лимит': 'Initial Limit'}, inplace=True)
df.rename(columns={'Рейтинг кредитной истории': 'Credit History Rating'}, inplace=True)
df.head()

,Debt,Overdue Days,Initial Limit,BIRTHDATE,SEX,EDU,INCOME,TERM,Credit History Rating,LV_AREA,LV_SETTLEMENTNAME,INDUSTRYNAME,PDN,CLIENTID,SCORINGMARK,UNDERAGECHILDRENCOUNT,VELCOMSCORING,FAMILYSTATUS
0,6063.50,3,7000.0,1983-07-08,Мужской,Среднее специальное,703.07,60,A1,Гомельская область,КОСАКОВКА,АПК,0.98,919517,233.0,0,0.0,1
1,3765.04,0,5000.0,1987-12-19,Женский,Высшее,1693.68,60,B2,N/A,МИНСК,Финансы и страхование,0.17,539353,0.0,1,0.0,1
2,2067.66,0,2650.0,1966-02-28,Женский,Среднее,724.49,60,C2,ГРОДНЕНСКАЯ,ЁДКИ,Медицина и здравоохранение,0.40,818913,0.0,0,0.0,2
3,2370.39,0,3000.0,1972-02-18,Женский,Среднее специальное,1045.84,60,A3,МИНСКАЯ,ФАНИПОЛЬ,Государственное управление,0.29,691598,216.0,0,0.0,2
4,2280.55,0,3000.0,1997-02-23,Женский,Высшее,1092.65,60,B3,N/A,Минск,Медицина и здравоохранение,0.63,425193,0.0,0,0.0,2

In [50]:
df['SEX'] = df['SEX'].replace('Мужской', 'MALE')
df['SEX'] = df['SEX'].replace('Женский', 'FEMALE')
df.head()

,Debt,Overdue Days,Initial Limit,BIRTHDATE,SEX,EDU,INCOME,TERM,Credit History Rating,LV_AREA,LV_SETTLEMENTNAME,INDUSTRYNAME,PDN,CLIENTID,SCORINGMARK,UNDERAGECHILDRENCOUNT,VELCOMSCORING,FAMILYSTATUS
0,6063.50,3,7000.0,1983-07-08,MALE,Среднее специальное,703.07,60,A1,Гомельская область,КОСАКОВКА,АПК,0.98,919517,233.0,0,0.0,1
1,3765.04,0,5000.0,1987-12-19,FEMALE,Высшее,1693.68,60,B2,N/A,МИНСК,Финансы и страхование,0.17,539353,0.0,1,0.0,1
2,2067.66,0,2650.0,1966-02-28,FEMALE,Среднее,724.49,60,C2,ГРОДНЕНСКАЯ,ЁДКИ,Медицина и здравоохранение,0.40,818913,0.0,0,0.0,2
3,2370.39,0,3000.0,1972-02-18,FEMALE,Среднее специальное,1045.84,60,A3,МИНСКАЯ,ФАНИПОЛЬ,Государственное управление,0.29,691598,216.0,0,0.0,2
4,2280.55,0,3000.0,1997-02-23,FEMALE,Высшее,1092.65,60,B3,N/A,Минск,Медицина и здравоохранение,0.63,425193,0.0,0,0.0,2

In [62]:
# mean_age = df["clnt_age"].mean()
most_gender = df["SEX"].mode()[0]
most_credit_ranking = df["Credit History Rating"].mode()[0]
AVG_Debt = df["Debt"].mean()
MAX_Debt = df["Debt"].max()
MIN_Debt = df["Debt"].min()
print("AVG_Debt:",AVG_Debt)
print("MAX_Debt:",MAX_Debt)
print("MIN_Debt:",MIN_Debt)
print("most fredquent gender:", most_gender)
print("most credit ranked:", most_credit_ranking)

AVG_Debt: 4318.769750271444
MAX_Debt: 40000.0
MIN_Debt: 0.0
most fredquent gender: MALE
most credit ranked: B3